body {
    padding-top: 70px;
}
#maincontrols {
    margin-bottom: 10px;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -150px;
    /* Pad bottom by footer height + (optional) extra spacing */
    padding: 0 0 170px;
}
#cam {
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    border: 3px #050 solid;
    width: 640px;
    height: 360px;
    margin-bottom: 10px;
}
#batteryProgress {
	width: 660px;
	margin-bottom: 10px;
}
.dropdown-menu {
    text-align: left;
}